.inp { 

    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5)
}
.classform {
    background-image: url('./arrangement-with-illuminated-house-frame-copy-space.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 100px;
    margin-right: 10px;
    height: 100% ;
  }
  .inner1{
    background-color: rgba(245, 245, 245, 0.45);
    
  }
  .inner{
    background-color: rgba(245, 245, 245);
    box-shadow: 10px 10px 10px 10px gray;
    
  }